/* blog/static/blog/base.css */

html {
    height: 100%; /* Use whole height of browser */
  }
  
  body {
    display: grid;  /* Use CSS grid */
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: auto auto 1fr auto;  /* Sticky footer */
    margin: 0 auto;  /* Centers the page */
    max-width: 1000px;  /* Set max width */
    min-height: 100%;  /* Full height */
    padding: 1rem;
  }
  
  /*
   * Style the <a> tags. Have a consistent colour for both visited
   * and unvisited links. Show underline on hover only.
   */
  a {
    color: #0366d6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Style the header area */
  #site-header h1 {
    padding: 0;
    margin: 0;
  }
  
  #site-header p {
    font-size: 0.9rem;
    color: #666;
    padding: 0;
    margin: 0;
  }
  
  /* Style the top nav */
  #top-nav {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
  }
  
  #top-nav ul {
    margin: 0;
    padding: 0;
  }
  
  #top-nav li {
    margin-top: 1rem;
    list-style-type: none;
    display: inline-block;
    padding-right: 1rem;
  }
  
  #top-nav a {
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Style the main content */
  #main-content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto 200px;
    margin-bottom: 2rem;
  }
  
  /* Style the footer */
  #site-footer {
    font-size: 0.9rem;
  }

  /* Post preview */
.post-preview {
  border-bottom: 1px rgb(245, 245, 245) solid;
}
.post-preview h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-preview time {
  color: #999;
}

.post-preview section {
  margin: 1rem 0;
}

#post-detail h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgb(40, 40, 178);
}

#post-detail .author {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(24, 18, 193);
}

#post-detail .published {
  color: #999;
  font-size: 0.9rem;
}

#post-detail .content {
  margin: 2rem 0;
}