{% load static %} <link rel="stylesheet" href="{% static "blog/base.css" %}">
<!DOCTYPE html>
<html lang="en">
  <img src = "{% static "blog/logo.jpg" %}" alt="Logo" height="50" width="50">
  <head>
    <meta charset="utf-8" />
    <title>{% block page_title %}Save Soil{% endblock %}</title>
  </head>

  <body>
    <header id="site-header">
      <h1>Save Soil</h1>
      <p>A blog about spreading awareness on how to save soil</p>
    </header>

    <nav id="top-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <main id="main-content">
      <div>
        {% block main %}
        <!--Main block render here-->
        {% endblock %}
      </div>

      <aside id="sidebar">
        <h3>Popular Topics</h3>
        <ul>
          {% for tp in all_topics %}
          <li>{{tp}}</li>
          {% endfor %}
          <!--Getting blog post-->
          {% for pst in all_topics %}
          <li>{{pst.blog_post.all()}}</li>
          {% endfor %}
        </ul>
      </aside>
    </main>
    <footer id="site-footer">
      <!-- Print copyright with the current year -->
      Copyright &copy;{% now 'Y' %}
    </footer>
  </body>
</html>
